body{
    background-color: black;
    color: white;
    padding: 30px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.parragraphs{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}